<footer>
    <div class="brFooter w-50 m-auto"></div>
    <div class="footerContent pt-2">
        <h6 class="text-center">Copyright &copy; 2021 All Rights Reserved | MixTube | Fady Yousry |

            <a href="https://www.linkedin.com/in/fady-yousry-8a4594207/" target="_blank"><i
                    class="fab fa-linkedin-in mx-2"></i></a>
            <a href="https://github.com/fady-yousry" target="_blank"><i class="fab fa-github mx-2"></i>
            </a>
        </h6>
    </div>
</footer>