.brFooter
{
   background-color: #80e0c7 !important;
   height: 1px;
}
footer h4
{
    font-weight: 700;
}
footer h6
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: silver;
    font-size: 14px;
}
footer a
{
    color: silver;
}
footer a:hover
{
    color: #fff;
}
footer i
{
    cursor: pointer;
    color: #3EB595;
}
footer i:hover
{
    color: #fff;
}
