<section class="notFoundPage d-flex align-items-center justify-content-center ">
    <div class="parent my-3">
        <article class="error404 my-3">
            4 <i class="far fa-question-circle fa-spin"></i> 4
        </article>
        <div class="msg">
            <h2>UH OH! You're lost.</h2>
            <p class="my-3">The page you are looking for does not exist <i class="far fa-frown"></i>.</p>
            <p class="text-white">Let's go <a routerLink="/home">Home</a>  and try from there.</p>
        </div>
    </div>
</section>