section 
{
    height: 60vh;
}
.error404 
{
    font-size: 6rem;
    font-weight: bolder;
    text-align: center;
}
.error404 i
{
    font-size: 5rem;
    color: #3EB595;
}
.msg
{
    text-align: center;
}
.msg h1 
{
    font-size: 1.5rem;
}
.msg p
{
font-size: 1rem;
}
.msg a
{
color: #3EB595;
font-size: 1.1rem;
font-weight: bold;
}
