<section class="my-5">
    <form [formGroup]='loginForm' (ngSubmit)='submit(loginForm)' class="w-75 mx-auto p-3 ">
        <div class="login p-5 rounded-lg">

            <div class="email w-100 py-2">
                <label>Email :</label>
                <input type="text" class="form-control" formControlName='email'>
                <div class="error" *ngIf="loginForm.get('email')?.errors&&loginForm.get('email')?.dirty">
                    <p *ngIf="loginForm.get('email')?.errors?.required">- Email is Required -</p>
                    <p *ngIf="loginForm.get('email')?.errors?.email">- Please enter a valid Email -</p>
                </div>
            </div>

            <div class="password w-100">
                <label>Password :</label>

                <div class="input-group mb-3 w-100">
                    <input id="password" type="password" class="form-control" formControlName='password'>

                    <div class="passTgl input-group-text" (click)="PassToggle()"><i *ngIf="show;else hide"
                            class="fas fa-eye"></i>
                        <ng-template #hide><i class="fas fa-eye-slash text-dark"></i></ng-template>
                    </div>
                </div>

                <div class="error" *ngIf="loginForm.get('password')?.errors&&loginForm.get('password')?.dirty">
                    <p *ngIf="loginForm.get('password')?.errors?.required">- Password is Required -</p>
                    <p *ngIf="loginForm.get('password')?.errors?.pattern">- Password must start with at least one letter (A-Z or a-z) then form 7 to 10 (numbers/letters/special characters) -</p>
                </div>

            </div>

            <div class="registerNow mb-4">
                <p>Don't Have Account ? <a routerLink="/register">Register Now</a></p>
            </div>

            <button class="btn btn-block w-50 m-auto" type="submit" [disabled]='loginForm.invalid'>Login</button>

            <div class="loginError py-3">
                <p class="text-center">{{error}}</p>
            </div>

        </div>
    </form>
</section>