<section class="movieDetails container py-5">
    <div class="row">
        <div class="col-md-4 text-center pt-2">

            <!-- Movie title and the caption of the movie -->
            <header class="detailsTitle pb-3">
                <h1>{{movieDetails?.title}}</h1>
                <p *ngIf="movieDetails?.tagline">"{{movieDetails?.tagline}}"</p>
            </header>

            <!-- Movie's Poster & on error display the not found Image -->
            <figure class="poster">
                <img [src]="imgPrefix+movieDetails?.poster_path" class="w-100 detailsImage"
                    alt="{{movieDetails?.title}}"
                    onerror="this.onerror=null;this.src='assets/Image-Not-Available.png';">
            </figure>

            <!-- Movie details : Rate /releaseDate /category / imdb profile / officialWebsite -->
            <aside class="detailsInfo pt-2">
                <div *ngIf="movieDetails?.vote_average" class="voteAvg py-1">
                    <h2>Rate |</h2>
                    <p> {{movieDetails?.vote_average}} <i class="far fa-star"></i></p>
                </div>
                <div *ngIf="movieDetails?.release_date" class="releaseDate py-1">
                    <h2>Release Date |</h2>
                    <p> {{movieDetails?.release_date}}</p>
                </div>
                <div class="category py-2">
                    <h2 class="d-block">| Category |</h2>
                    <p *ngFor="let genre of genres" class="h6 d-inline px-2 text-white-50"> {{genre.name}}</p>
                </div>
                <div class="imdbBtn mt-2 w-50 mx-auto">
                    <a class="d-block" target="_blank"
                        href='{{"https://www.imdb.com/title/" +movieDetails?.imdb_id+ "/?ref_=hm_fanfav_tt_i_2_pd_fp1"}}'>IMDB</a>
                </div>
                <div *ngIf="movieDetails?.homepage" class="officialWebsite my-3 w-75 mx-auto">
                    <a href="{{movieDetails?.homepage}}" target="_blank">Official Website</a>
                </div>
            </aside>
        </div>
        <div class="col-md-1"></div>

        <article class="col-md-7 text-center py-5">

            <!-- overView -->
            <div *ngIf="movieDetails?.overview" class="overView text-left pt-4">
                <h2>OverView</h2>
                <p class="text-left">{{movieDetails?.overview}}
                </p>
            </div>

            <!--Offical Trailer iframe using safeUrl pipe 
                to avoid ERROR : unsafe value used in a resource URL context-->
            <div class="trailer py-3">
                <h2 class="py-3">Official Trailer</h2>
                <div *ngFor='let k of keys'>
                    <iframe *ngIf="videos!=0" width="100%" height="400" [src]="tubePrefix+k.key|safeUrl"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div *ngIf="videos==0">
                    <p>No Trailers Available for this Movie</p>
                </div>
                <div class="brTitle mt-2"></div>
            </div>

            <!-- Cast Carousel using ngx-owl-carousel-o -->
            <div class="cast py-3">
                <h2 class="py-3">Cast</h2>
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide *ngFor="let star of cast">
                        <div class="slideContent text-center" [routerLink]="['/stardetails',star.id]">
                            <img class="img-fluid" [src]="imgPrefix+star?.profile_path" [alt]="star?.name"
                                onerror="this.onerror=null;this.src='assets/Image-Not-Available.png';">
                            <h3 class="p-3">{{star?.name}}</h3>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>

        </article>
    </div>
</section>