<section class="tv">

    <header class="title py-4">
        <div class="brTitle w-25"></div>
        <h1 class="text-center pt-3">Most Popular TV Shows</h1>
        <p>watch your favourite Series</p>
        <div class="brTitle w-50"></div>
    </header>

    <!-- search input for both Movies&Tv -->
    <div class="searchInput my-4 w-50 m-auto">
        <div class="input-group my-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
            </div>
            <input type="text" class="form-control w-50 m-auto" [(ngModel)]="term" placeholder="Tv Search">
        </div>
        <!-- [(ngModel)]="term" two way data binding related to search pipe -->
    </div>

    <div class="row text-center">
        <!-- 1st pipe for search and the second one for ngx pagination -->

        <ng-container *ngIf="( popularTvShows|search:term) as result">

            <div *ngFor="let tv of result|paginate: { itemsPerPage: 20, currentPage: currentPage,totalItems:result.length }"
                class="col-lg-3 col-md-4 col-sm-6 p-4">
                <div class="box position-relative" [routerLink]="['/tvdetails',tv.id]">
                    <img class="w-100" [src]="imgPrefix+tv?.poster_path" alt="{{tv?.title}}"
                        onerror="this.onerror=null;this.src='assets/Image-Not-Available.png';">
                    <h2 class="p-3">{{tv?.title}}{{tv?.name}}</h2>
                    <div class="rate">{{tv?.vote_average}}</div>
                </div>
            </div>

             <!-- if no results found -->
            <div *ngIf="result.length === 0" class="noResult">
                <img src="assets/no_movies_found.svg" class="img-fluid mt-4" alt="">
                <p class="errMsg">No Series Matched your Search <i class="far fa-frown"></i>
                </p>
            </div>
            <!-- if results.length <16 hide paginatoin bar -->
            <pagination-controls *ngIf="result.length>16" class="my-pagination w-100"
                (pageChange)="onPageChange($event)">
            </pagination-controls>
        </ng-container>
    </div>
</section>